services:
  jenkins:
    build: .
    container_name: jenkins
    restart: "no"
    ports:
      - "8099:8080"
      - "50000:50000"
    env_file:
      - .env
    environment:
      - TZ=Asia/Shanghai
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - CASC_JENKINS_CONFIG=/casc/jenkins.yaml
      - COPY_REFERENCE_FILE_LOG=/var/jenkins_home/copy_reference_file.log
    volumes:
      - jenkins_home:/var/jenkins_home
      - ./casc/jenkins.yaml:/casc/jenkins.yaml:ro

volumes:
  jenkins_home:
